*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: 'fira sana', sans-serif;

}
.App{
  width: 100%;
  max-width: 500px;
  max-height: 650px;
  height: 100vh;
  margin: 50px auto;
  border: 1px solid black;
  box-shadow: 0 2px 6px #555;
  padding: 50px;

}